@tailwind base;
@tailwind components;
@tailwind utilities;


.text-outline {
    -webkit-text-stroke: 2px #FFC857;
}

.text-outline:hover {
    -webkit-text-stroke: 3px #FFC857;
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


.profileImage {
    background: linear-gradient(to right, #d3d3d3, #a9a9a9);
}

.themeButton {
    color: #e1e2db;
    background-color: #2f4f4f;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    transition: 1000ms;
    border-radius: 5px;
}

.themeButton:hover {
    letter-spacing: 0.4rem;
    transition: 1000ms;
    /* background-color: #7da9a9; */
    /* color: #1f201e; */
}